﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model task1.Model.RegistrationBindingModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/site.css" rel="stylesheet" />

    <title>Форма регистрации</title>
</head>
<body>
    <div class="container">
        <h1>Форма регистрации</h1>
        <form asp-action="Register">
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="FirstName" type="text" id="first-name">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" type="text" id="last-name">
                 <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" type="email" id="email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConsultationDate"></label>
                <input asp-for="ConsultationDate" type="date" id="consultation-date">
                <span asp-validation-for="ConsultationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedProduct"></label>
                <select asp-for="SelectedProduct" id="product">
                    <option value="JavaScript">JavaScript</option>
                    <option value="C#">C#</option>
                    <option value="Java">Java</option>
                    <option value="Python">Python</option>
                    <option value="Основи">Основи</option>
                </select>
                <span asp-validation-for="SelectedProduct" class="text-danger"></span>
            </div>
            <button type="submit">Зареєструватися</button>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>

