﻿@model task1.Model.RegistrationBindingModel
<h1>Користувача було успішно зареєстроввано</h1>
<div>
    <ul>
        <li>Контактні дані: @Model.LastName @Model.FirstName</li>
        <li>Email: @Model.Email</li>
        <li>Бажана дата консультації: @Model.ConsultationDate.ToString("dd.MM.yyyy")</li>
        <li>Обраний продукти: @Model.SelectedProduct</li>
    </ul>
</div>